<div class="container" style="padding: 30px;">
  <div class="row">
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://www.lenovo.com/medias/IdeaPad-3-14ITL6-CT1-01-725x515px.png?context=bWFzdGVyfHJvb3R8NDM3NDQ2fGltYWdlL3BuZ3xoYzIvaGI3LzE0Nzg3OTExNzEyNzk4LnBuZ3w0NTcwOTVkZTA2OWE1MzI3ODFlMmJkNDlmNmUxMDViZWZmYmY5NGVhODUwYzczZGJmNWEzOGZmZDVlOTZlY2E3" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop Lenovo</h5>
          <p class="card-text">$16,000</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://www.cyberpuerta.mx/img/product/M/CP-ACER-NHQAZAL003-77fa6e.png" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop OMEN</h5>
          <p class="card-text">$25,000</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/711WOAts7+L._AC_SX522_.jpg" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop Huawei Matepad 15</h5>
          <p class="card-text">$14,000</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://www.cyberpuerta.mx/img/product/M/CP-HUAWEI-53011TVY-1.png" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop Huawei Matepad 14</h5>
          <p class="card-text">$15,000</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://www.cyberpuerta.mx/img/product/M/CP-LANIX-G610400-1.png" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop Acer</h5>
          <p class="card-text">$16,000</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://www.cyberpuerta.mx/img/product/M/CP-XPG-XENIA14I5G11GXELX-BKCMX-1.jpg" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop XPG</h5>
          <p class="card-text">$12,000</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://images-na.ssl-images-amazon.com/images/I/616uZSlK-YL._AC._SR360,460.jpg" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop Lenovo 360°</h5>
          <p class="card-text">$17,500</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let card of cards">
      <div class="card" style="width: 18rem;">
        <img src="https://images-na.ssl-images-amazon.com/images/I/616uZSlK-YL._AC._SR360,460.jpg" class="card-img-top imageLaptop" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop Asus 360°</h5>
          <p class="card-text">$17,500</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>