<div class="barra border border-warning">
    <ul class="nav justify-content-end">
        <li class="align-self-start" >
            <img src="https://www.cyberpuerta.mx/out/cyberpuertaV5/img/logo2.png" class="imagenLogo">
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settingss</a>
        </li>
    </ul>
</div>
